<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getSurname()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getPassword()}"></td>
            <td th:each="role : ${user.getRoles()}"
                th:value="${role.name}"
                th:text="${role.name}"></td>
        </tr>
    </table>
    <br>
    <a>
        <form th:method="GET" th:action="@{/logout}"><input type="submit"
                                                            value="logout"></form>
    </a>
</div>
</body>
</html>